In [2]:
import pandas as pd

In [3]:
wild_fire = pd.read_csv('E:\Personal\Machine Learning\MLDS-UNAL\Machine Learning\Material\DataSet\WildFire_Prediction_Data_Set.csv', encoding='ISO-8859-1', sep = ',')

In [4]:
wild_fire.head(2)

       NDVI           LST  BURNED_AREA    CLASS
0  0.506782  14584.272727     4.692308  no_fire
1  0.522150  14655.833333     5.000000  no_fire